html {
    font-size: 22px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .container img {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
  }
  h1 {
    margin: 0;
    font-size: 24px;
  }

  .content {
    display: flex;
    height: calc(100vh - 100px); /* Adjust as needed */
  }
  .left-section {
    flex: 60%;
    background-color: #e0e0e0;
    padding: 20px;
    margin-bottom: 20px;
  }
  .right-section {
    flex: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d0d0d0;
    padding: 20px;
    margin-bottom: 20px;
  }
  .right-section button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .right-section button:last-child {
    margin-bottom: 0;
  }
  .right-section button:hover {
    background-color: #45a049;
  }

  p {
    padding: 20px;
    background-color: #ccc;
    margin: 0;
  }